*{
    margin: 0;
    padding: 0;
}
.darkest{
    background-color: #082032;
}
.hero{
    font-size: 5rem;
    font-family: 'Righteous', cursive;
}
.hero.orange{
    color: #FF4C29;
}
::-webkit-scrollbar{
    display: none;
}
.ljudio-btn-orange{
    background-color: #FF4C29;
    color: white;
    width: 200px;
    height: 45px;
    border-radius: 25px;
    outline: none;
    border: none;
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.ljudio-btn-orange:hover{
    background-color: #f5907b;
}
.ljudio-btn-orange:active{
    background-color: #d3391b;
}