*{
    margin: 0;
    padding: 0;
}

.darkest{
    background-color: #082032;
}

.darker{
    background-color: #2C394B;
}

.dark{
    background-color: #334756;
}

.hero{
    font-size: 5rem;
    font-family: 'Righteous', cursive;
}

.hero.orange{
    color: #FF4C29;
}

.standard{
    width: 80vw;
    margin: auto;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.center{
    text-align: center;
}

.search-field{
    display: flex;
    width: 70%;
    height: 30px;
    border: 1px rgba(255, 76, 41, 0.9) solid;
    border-radius: 25px;
    outline: none;
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
    background-color: rgba(255,76,41,0.05);
    color: white;
    padding: 5px;
    padding-left: 20px;
    margin: 50px auto;
}

::placeholder{
    color: rgba(255,255,255,0.1);
    font-size: 1.3rem;
    text-justify: center;
}

.standard-list{
    list-style: none;
    line-height: 0.8;
    margin: auto;
}
.first-row{
    opacity: 0.1;
    font-size:4rem;
}
.second-row{
    opacity: 0.2;
    font-size: 4.4rem;
}

.ljudio-btn-orange{
    background-color: #FF4C29;
    color: white;
    width: 200px;
    height: 45px;
    border-radius: 25px;
    outline: none;
    border: none;
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
}

.ljudio-btn-orange:hover{
    background-color: #f5907b;
}

.search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}